.header{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: var(--primary-bg-color);
   z-index: 3;
}
.header__container{
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 30px;
   position: relative;
   padding: 20px;

}
.header__logo{
   font-size: 26px;
   font-weight: 600;
   line-height: 30px;
   color: var(--text-color);
   letter-spacing: 5px;
}
.header__logo span{
   color: var(--second-bg-color);
}
.header__search {
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--gray-color);
  background-image: 
    linear-gradient(rgba(62, 61, 61, 0.5), rgba(64, 63, 63, 0.5)),
    url(https://a-static.besthdwallpaper.com/cool-skull-background-wallpaper-1680x1050-98429_5.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px, 0px -446px;
  background-size: cover, cover;
  padding: 13px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 20px;
}
.main{
   background-repeat: no-repeat;
   background-position: top;
   margin-top: 122px;
   min-height: calc(100vh - 150px);
   position: relative;
}
.main::before{
   content: '';
   position: absolute;
   left: 120px;
   top: -80px;
   width: calc(100% - 120px);
   height: 520px;
   background-image: url(/src/assets/poster.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.main__container{
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 20px;
   display: flex;
   column-gap: 40px;
   margin-top: 122px;
   padding: 0px;
}
.list__item-wrapper{
   display: flex;
   column-gap: 25px;
   margin-bottom: 30px;
   transition: all 0.3s;
}
.list__item-wrapper.active path{
   fill: var(--second-bg-color); 
}
.list__item-wrapper.active p{
   color: var(--second-bg-color); 
}
.list__item-wrapper:hover path{
   fill: #f68e078b; 
}
.list__item-wrapper:hover p{
   color: #f68e078b; 
}

.list__item-icon{
   width: 30px;
   height: 30px;
}

.list__item-icon svg{
   width: 100%;
   height: 100%;
}
.list__item-text{
   color: var(--text-color);
}

.footer__container{
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 20px;
}
.footer__cop{
    color: var(--text-color);
}

.outlet{
   margin-top: 300px;
   flex-grow: 1;
}