
.footer__container{
    height: 40px;
   margin: 0 auto;
   padding: 0 20px;
}
.footer__cop{
    color: var(--text-color);
}
@media (max-width: 600px) {
    .footer__container p {
        font-size: 13px;
    }
}

