
.image-fallback{
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
}
.image-fallback__text{
   color: #ffffffd7;
   font-size: 18px;

}