.formButton{
   display: flex;
   align-items: center;
   padding: 10px 20px;
   border-radius: 20px;
   border: 1px solid #fff;
}
.formButton:hover{
  border: 1px solid #9a06f7;
}
.formButton__wrapIcon{
   width: 25px;
   height: 25px;
   img{
      width: 100%;
      height: 100%;
   }
}
.formButton__text{
   flex-grow: 1;
   text-align: center;
   color: #ffffffd7;
}

@media (max-width: 800px) {
   .formButton{
      padding: 7px 10px;
   }
   .formButton__wrapIcon{
      width: 18px;
      height: 18px;
   }
   .formButton__text{
      font-size: 12px;
   
   }
}
