.header{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: var(--primary-bg-color);
   z-index: 3;
}
.header__container{
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 100px;
   position: relative;
   padding: 20px;

}
.header__logo{
   font-size: 26px;
   font-weight: 600;
   line-height: 30px;
   color: var(--text-color);
   letter-spacing: 5px;
}
.header__logo span{
   color: var(--second-bg-color);
}
.header__search {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--gray-color);
  background-image: 
    linear-gradient(rgba(62, 61, 61, 0.5), rgba(64, 63, 63, 0.5)),
    url(/accect/bg.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px, 0px center;
  background-size: cover, cover;
  padding: 13px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 20px;
}

.navigate__menu{
   display: none;
   position: absolute;
   height: 10px;
   width: 65px;
   left: 20px;
   bottom: 4px;
   border: none;
    background-color: var(--primary-bg-color);
}
.navigate__menu path {
   fill: var(--second-bg-color);
}

@media (max-width: 1023px) {
   .header__container{
      column-gap: 20px;
   }
   .navigate__menu{
    display: flex   ;
   }
}
@media (max-width: 800px) {
 
   .header__container{
      padding: 10px;
   }
   .header__logo{
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 3px;
   }
   .header__search {
      padding: 10px;
      font-size: 16px;
   }
   .navigate__menu{
      left: 10px;
   }
}


