.regButtons_wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.regButton {
   padding: 13px 17px;
   background-color: var(--second-bg-color);
   color: var(--text-color);
   transition: all 0.3s ease;
   border-radius: 10px;
   border: 2px solid var(--second-bg-color);
   line-height: 24px;
   
}
.regButton:hover {
   background-color: #cb05a3;
   border-color: var(--text-color);
}
@media (max-width: 1023px) {
 .regButtons_wrapper{
      gap: 10px;
   }
   .regButton {
      padding: 5px 8px;
   }
 
}