.userDropdown {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: var(--second-bg-color);

}
.userDropdown:hover {
   background-color: #f68e078b;
}

@media (max-width: 600px) {
   .userDropdown {
  width: 20px;
  height: 20px;
  padding: 2px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
}