.userMenu_page{
   position: absolute;
   top: 0;
   right: 0;
   z-index: 3;
   display: flex;
   justify-content: end;
   align-items: start;
}
.userMenu_wrap{
   width: 300px;
   background-color: var(--second-bg-color);
   padding: 20px;
   position: relative;
   top: 88px;
   color: var(--text-color);
   border-radius: 20px;
}
.userMenu_wrap-img{
   border-radius: 10px;
   background-color: var(--primary-bg-color);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 15px;
   gap: 15px;
   margin-bottom: 30px;
   position: relative;
         
}
.userMenu_wrap-img-ico{
   width: 75px;
   height: 75px;
   background-color: var(--primary-bg-color);
   text-align: center;
}
.userMenu_wrap-img-ico img{
   width: 75%;
   height: 100%;
}
.userMenu_wrap-img-text{
   font-size: 13px;
}
.userMenu_wrap-img-btn{
   background-color: #0d92d4;
   padding: 7px;
   color: #000;
   border-radius: 15px;

}
.userMenu__theme-button{
   position: absolute;
   width: 40px;
   height: 40px;
   top: 5px;
   right: 10px;
   background-color:var(--primary-bg-color);
   border: none;
}
.userMenu_wrap-menu-item{
   display: flex;
   column-gap: 8px;
   margin-bottom: 20px;
   background-color: transparent;
   width: 100%;
   font-size: 15px;
   border: none;
   outline: none;
}
.menu-item-text{
   color: var(--text-color);
}
.userMenu_wrap-menu-item:hover p{
  color: #ff0000;
}
@media (max-width: 800px) {
   .userMenu_wrap{
      top: 58px;
   }  
}